svg {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.label {
  font-size: 22px;
  stroke: none;
  fill: black;
  font-weight: 500;
  opacity: 0.45;
  font-family: 'EB Garamond', 'Noto Serif', 'PT Serif', 'Playfair Display', serif;
  // font-family: 'Noto Serif', sans-serif;
  // font-family: 'PT Serif', sans-serif;
  // font-family: 'Playfair Display', sans-serif;
  text-transform: uppercase;
}
