svg {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

// .tree {
//   stroke: #4b1818;
//   fill: none;
// }

.label {
  font-size: 16px;
  stroke: none;
  fill: black;
}

// .leaf {
//   fill: green;
// }
