:root {
  --background-color: #fff;
  --mauve-1: #fdfcfd;
  --mauve-2: #faf9fb;
  --mauve-3: #f2eff3;
  --mauve-4: #eae7ec;
  --mauve-5: #e3dfe6;
  --mauve-6: #dbd8e0;
  --mauve-7: #d0cdd7;
  --mauve-8: #bcbac7;
  --mauve-9: #8e8c99;
  --mauve-10: #84828e;
  --mauve-11: #65636d;
  --mauve-12: #211f26;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--mauve-12);
  background-color: var(--background-color);
}

svg {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.label {
  font-size: 22px;
  stroke: none;
  font-weight: 500;
  fill: var(--mauve-12);
  font-family: 'EB Garamond', 'Noto Serif', 'PT Serif', 'Playfair Display', serif;
  text-transform: uppercase;
}

.nav-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tree-background {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.tree-background.hovered {
  opacity: 0.025;
  cursor: pointer;
}

.tree-background-hover {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
